.git
.env
.DS_Store
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/data/
include/helpers/
logs/
include/gcp/
include/terraform/
include/helpers/
tmpclaude-*-cwd
