services:

  minio:
    image: minio/minio
    container_name: minio
    hostname: minio
    restart: unless-stopped
    volumes:
      - ./include/data/minio:/data
    ports:
      - 19000:9000
      - 19001:9001
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    networks:
      - airflow

  database:
    image: postgres:12.6
    container_name: postgres_stocks_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-stocks_db}
    ports:
      - "0.0.0.0:${POSTGRES_PORT}:5432"
    volumes:
      - ./include/data/postgres:/var/lib/postgresql/data
    networks:
      - airflow

  # pgadmin:
  #   image: dpage/pgadmin4:9.11
  #   container_name: pgadmin
  #   depends_on:
  #     - database
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@example.com
  #     PGADMIN_DEFAULT_PASSWORD: admin
  #     PGADMIN_CONFIG_SERVER_MODE: 'False'
  #   ports:
  #     - "5800:80"
  #   volumes:
  #     - ./include/data/pgadmin:/var/lib/pgadmin
  #   networks:
  #     - airflow
  #   user: "root"
    
  # dbt:
  #   image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
  #   container_name: dbt_container
  #   working_dir: /usr/app/
  #   environment:
  #     DBT_PROFILES_DIR: /root/.dbt
  #   volumes:
  #     - ./include/dbt/my_project:/usr/app/
  #     - ./include/dbt:/root/.dbt
  #   depends_on:
  #     - database
  #   networks:
  #     - airflow
  #   command: run

  api-server:
    ports:
      - "0.0.0.0:8081:8080"
    
networks:
  airflow:
    driver: bridge