name: Deploy to Cloud Composer

on:
  push:
    branches:
      - main

env:
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  COMPOSER_BUCKET: ${{ secrets.COMPOSER_BUCKET }}
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ env.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Upload DAGs to Composer Bucket
        run: |
          # Sync dags folder
          gsutil -m rsync -r -d dags/ gs://${{ env.COMPOSER_BUCKET }}/dags/

          # Sync include folder to dags/include to make it importable
          gsutil -m rsync -r -d include/ gs://${{ env.COMPOSER_BUCKET }}/dags/include/

      - name: List Bucket Contents (Verification)
        run: gsutil ls -r gs://${{ env.COMPOSER_BUCKET }}/dags/
