name: Deploy to GCP VM

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
  ZONE: us-west1-b
  INSTANCE_NAME: airflow-vm-free-tier
  SSH_USERNAME: JingH # Change this if your VM username is different

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Google Auth
      id: auth
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Deploy to VM
      run: |
        # Use SSH_USERNAME to connect as the correct user
        gcloud compute ssh ${SSH_USERNAME}@${INSTANCE_NAME} --zone=$ZONE --command="
          cd ~/airflow_project && \
          git pull origin main && \
          sudo docker compose -f docker-compose.prod.yml up -d --build && \
          sudo docker image prune -f
        "
