      - name: Deploy to VM
        run: |
          # Create .env file securely on the runner
          cat <<EOF > .env
          AIRFLOW__CORE__TEST_CONNECTION=enabled
          POSTGRES_USER=${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
          MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}
          SLACK_API_TOKEN=${{ secrets.SLACK_API_TOKEN }}
          ALPHA_VANTAGE_API_KEY=${{ secrets.ALPHA_VANTAGE_API_KEY }}
          EOF

          # Create a tarball of the repository (excluding .git)
          tar -czf /tmp/repo.tar.gz --exclude='.git' .

          # 1. Copy the tarball to VM and extract it
          gcloud compute scp /tmp/repo.tar.gz ${{ secrets.SSH_USERNAME }}@${{ secrets.INSTANCE_NAME }}:/tmp/repo.tar.gz --zone=${{ secrets.ZONE }}
          
          # 2. Extract and update code on VM
          gcloud compute ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.INSTANCE_NAME }} \
            --zone=${{ secrets.ZONE }} \
            --command="
              cd ~/airflow_project && \
              tar -xzf /tmp/repo.tar.gz --overwrite --strip-components=1 && \
              rm /tmp/repo.tar.gz
            "

          # 3. Copy .env file to VM
          gcloud compute scp .env ${{ secrets.SSH_USERNAME }}@${{ secrets.INSTANCE_NAME }}:~/airflow_project/.env --zone=${{ secrets.ZONE }}

          # 4. Build and Start Containers
          gcloud compute ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.INSTANCE_NAME }} --zone=${{ secrets.ZONE }} --command="
            cd ~/airflow_project &&
            set -a && source .env && set +a &&
            astro dev object import &&
            astro dev stop &&
            astro dev start --wait 5m
          "