name: Deploy to GCP VM

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
  ZONE: ${{ secrets.ZONE }}
  INSTANCE_NAME: ${{ secrets.INSTANCE_NAME }}
  SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Google Auth
      id: auth
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Deploy to VM
      run: |
        # Create .env file securely on the runner
        cat <<EOF > .env
        AIRFLOW__CORE__TEST_CONNECTION=enabled
        POSTGRES_USER=${{ secrets.POSTGRES_USER }}
        POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_DB=${{ secrets.POSTGRES_DB }}
        MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}
        MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}
        EOF

        # 1. Update Code on VM
        gcloud compute ssh ${{ secrets.INSTANCE_NAME }} --zone=${{ secrets.ZONE }} --command="
          if [ ! -d ~/airflow_project ]; then
            git clone https://github.com/${{ github.repository }}.git ~/airflow_project
          else
            cd ~/airflow_project && git pull origin main
          fi
        "

        # 2. Copy .env file to VM
        gcloud compute scp .env ${{ secrets.INSTANCE_NAME }}:~/airflow_project/.env --zone=${{ secrets.ZONE }}

        # 3. Build and Start Containers
        gcloud compute ssh ${{ secrets.INSTANCE_NAME }} --zone=${{ secrets.ZONE }} --command="
          cd ~/airflow_project &&
          sudo docker builder prune -f &&
          sudo docker buildx rm --all-inactive -f 2>/dev/null || true &&
          sudo docker compose -f docker-compose.prod.yml build --no-cache &&
          sudo docker compose -f docker-compose.prod.yml up -d
        "